@page
@model sqldata.Pages.Clients.EditModel
@{
}
<br>

<h2>Edit Client</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="POST">
    <input type="hidden" name="id" value="@Model.clientInfo.id" />
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="@Model.clientInfo.name" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="email" value="@Model.clientInfo.email" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Phone</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="phone" value="@Model.clientInfo.phone" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Address</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="address" value="@Model.clientInfo.address" />
        </div>
    </div>
    @if (Model.successMessage.Length > 0)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>@Model.successMessage</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div class="row mb-3">
        <div class=" offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>
<div class="footer-settings">
    <!-- Footer -->
    <footer class="text-white" style="background-color: #000325; border-radius: 20px;">
        <!-- Grid container -->
        <div class="container p-4">

            <h2>Socials</h2>
            <section class="mb-4">
                <!-- Facebook -->
                <!-- Linkedin -->
                <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="https://www.linkedin.com/in/teemu-kalmari-755469169/" role="button"><i class="fa fa-linkedin"></i></a>
                <!-- Github -->
                <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="https://github.com/temez26" role="button"><i class="fa fa-github"></i></a>
            </section>
            <!-- Section: Social media -->
            <!-- Section: Form -->
            <section class="">
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Contact Me</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a class="text-white">Email: Teemu.Kalmari@gmail.com</a>
                            </li>
                            <li>
                                <a class="text-white">Phone number: 0401636626</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- Section: Form -->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
    <!-- Image -->
    <section>
        <div class="image-container3">
            <img src="~/images/fish.png" alt="Your Image" style="border-radius: 45%; width: 15%;
        height: auto; float:right;margin-right:5%; margin-top: -199px;">
        </div>
    </section>
    <div class="text-center p-3 text-white" style="background-color: rgba(0, 0, 0, 0.2); border-radius: 20px; ">
        © 2023 Copyright:Teemu Kalmari
    </div>
    <!-- Copyright -->
    <!-- Copyright -->
</div>
